<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Panel Administracyjny</title>
    {% block stylesheets %}
      {% stylesheets '@bootstrap_css' '@admin_css' '@datatables_css' '@sweetalert_css' '@select2_css' '@datepicker_css' '@custom_css' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
      {% endstylesheets %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    {% endblock %}
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <a href="{{ url('admin') }}" class="logo">
          <span class="logo-mini">LTE</span>
          <span class="logo-lg">Admin<b>LTE</b></span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <span class="hidden-xs"><big>{#{ app.user.username }#} <i class="fa fa-angle-down"></i></big></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="user-header" style="height: 100px">
                    <p>
                      {#{ app.user.username }#}
                      <small>{#{ app.user.email }#}</small>
                      <small>{{ "now"|date("d.m.Y H:i", "Europe/Warsaw") }}</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="" class="btn btn-default btn-flat">Profil</a>
                    </div>
                    <div class="pull-right">
                      <a href="" class="btn btn-default btn-flat">Wyloguj</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </header>

      <aside class="main-sidebar">
        {% include 'admin/template/navbar.html.twig' %}
      </aside>

      <div class="content-wrapper">
        {% block page %}{% endblock %}
      </div>

      <footer class="main-footer">
        <div class="pull-right hidden-xs">Wykonanie <a href="mailto:grzesiekk94@gmail.com">Grzesiek Stefański</a></div>
        <strong>Copyright &copy; {{ "now"|date("Y") }}</strong> Wszystkie prawa zastrzeżone.
      </footer>

    </div>

    {% block javascripts %}
      {% javascripts '@jquery' '@bootstrap_js' '@admin_js' '@datatables_js' '@sweetalert_js' '@select2_js' '@datepicker_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

      <script>
        $( document ).ready(function(){
          $( document ).on('click', '.deletable', function(e){
            e.preventDefault();
            var button = $(this);
            var custom = '';
            if(button.attr('data-custom')){
              var custom = "\n" + button.data('custom');
            }
            swal({
              title: "Jesteś pewien?",
              text: "Usuniętego obiektu nie będzie można przywrócić! " + custom,
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Tak, jestem pewien",
              cancelButtonText: "Anuluj",
              closeOnConfirm: true,
              closeOnCancel: true
            }, function(c){
              if(c) {
                document.location = button.data('href');
              }
            });
          });

          $('table.table').not('.plain').each(function(){
            createTable($(this));
          });
        });
      </script>
    {% endblock %}
  </body>
</html>
