{% extends 'admin/template/page.html.twig' %}

{% block title %}
  <i class="fa fa-tags"></i> {{ 'chosen.group'|trans }}: {{ group.name }} - {{ group.year }}
{% endblock %}

{% block body %}
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">{{ 'groups.students'|trans }}</h3>
        <div class="box-tools pull-right">
          <a href="" style="color:#97a0b3"><i class="fa fa-external-link"></i></a>
        </div>
      </div>
      <div class="box-body">
        <div class="table-responsive">
          <table class="table plain">
            <thead>
              <tr>
                <th class="id">#</th>
                <th>{{ 'table.username'|trans }}</th>
                <th data-orderable="false"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in group.users %}
                <tr>
                  <td>{{ item.id }}</td>
                  <td>{{ item.start }} / {{ item.end }}</td>
                  <td>
                    <a href="" class="btn btn-danger"><i class="fa fa-trash"></i> {{ 'button.delete'|trans }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
