{% extends 'admin/template/page.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}
  <i class="fa fa-pencil"></i> {{ 'edit.action'|trans }} {{ test.name }}
{% endblock %}

{% block body %}
  <div class="col-md-12">
    {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" class="btn btn-info form"><i class="fa fa-pencil"></i> {{ 'button.edit'|trans }}</button>
    {{ form_end(form) }}
  </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#test_type_questions').select2();
    </script>
{% endblock %}
