{% extends 'admin/template/page.html.twig' %}

{% block title %}<i class="fa fa-file-text"></i> {{ 'title.test'|trans }}{% endblock %}
{% block subtitle %}<a href="{{ url('admin_test_add') }}" class="btn btn-success"><i class="fa fa-plus"></i> {{ 'button.add'|trans}}</a>{% endblock %}

{% block body %}
    <table class="data table">
        <thead>
            <tr>
                <th class="id">#</th>
                <th>{{ 'table.name'|trans }}</th>
                <th>{{ 'table.active'|trans }}</th>
                <th>{{ 'table.time'|trans }}</th>
                <th>{{ 'table.group'|trans }}</th>
                <th data-orderable="false"></th>
            </tr>
        </thead>
        <tbody>
            {% for item in tests %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                      {% if item.end %}
                        <span class="label label-info">{{ 'test.finished'|trans }}</span><br>{{ item.end|date('d.m.Y H:i:s') }}
                      {% else %}
                        <a href="{{ url('admin_test_active', {'id': item.id}) }}" class="btn btn-success"><i class="fa fa-check"></i> {{ 'button.active'|trans }}
                      {% endif %}
                    </td>
                    <td>{{ item.time }} min</td>
                    <td>{{ item.group }}</td>
                    <td>
                        <a href="{{ url('admin_test_view', {'id': item.id}) }}" class="btn btn-success"><i class="fa fa-search"></i> {{ 'button.view'|trans }}</a>
                        <a href="{{ url('admin_test_edit', {'id': item.id}) }}" class="btn btn-info"><i class="fa fa-pencil"></i> {{ 'button.edit'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
